body {
  margin: 0;
}
.mainpage{
  background-image: url(https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.png?resize=400x300&vertical=center);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.App {
  text-align: center;
}
.input-container {
  align-items: center;
  width: 100%;
  padding-top: 10px;
  background-color: linear-gradient(to right, #ff8c00, #ff4500);
}
.input-container h1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(6, 47, 47);
  word-spacing: 10px; 
  font-weight:bolder;
  font-family: 'Times New Roman', Times, serif;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(300px - 20px);
}
.input-container button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 20px); 
  max-width: 250px;
}
@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  input {
    width: calc(50% - 10px); 
  }
  button {
    width: calc(50% - 10px); 
  }
}
.input-container button:hover {
  background-color: #172e18;
}
.current-weather {
  color: whitesmoke;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #394e6e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.current-weather button{
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 20px); 
  max-width: 140px;
}
.current-weather button:hover {
  background-color: #1f3b20;
}
.current-weather:hover {
  transform: scale(1.02);
}
.current-weather img { 
  height: 100px;
}

.weather-info {
  border-radius: 5px;
  padding: 10px;
  max-width: 300px; 
  margin:  auto; 
}

.weather-info div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weather-info .image-container {
  text-align: center;
  margin-top: 10px;
  margin-left: 100px;
}

.weather-info img {
  width: 100px; 
  height: 100px; 
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-evenly;
}
.forecast-item {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #64686f;
  color: whitesmoke;
  transition: transform 0.3s ease-in-out;
}
.forecast-item img{
  height: 100px;
}
.forecast-item:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
    justify-content: center;
  }
  input {
    margin-right: 10px;
  }
}
